---
import HeaderCard from "./HeaderCard.astro";
import FooterCard from "./FooterCard.astro";
import { Project } from "src/type";

interface Props {
  project: Project;
  num: number;
}
const { project, num } = Astro.props;
---

<article>
  <HeaderCard {...project} num={num} />
  <p>
    {project.description}
  </p>
  <FooterCard {...project} />
</article>
<style>
  article {
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--bg-blur);
    color: var(--font-color-card);
    display: flex;
    flex-direction: column;
  }
  p {
    text-wrap: pretty;
    padding-inline: 0.8rem;
    padding-block: 0.8rem;
  }
</style>
