---
import { Language } from "src/type";
const { languages } = Astro.props;
---

<footer>
  <ul>
    {
      languages.map((languaje: Language) => {
        const { icon, color = "#fff" } = languaje;
        const styleColor = `color : ${color}`;
        const Icon = icon;

        return (
          <li style={styleColor}>
            <Icon />
          </li>
        );
      })
    }
  </ul>
</footer>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
  }
</style>
