<div>
  <svg
    viewBox="0 0 500 500"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    width="100%"
    id="blobSvg"
  >
    <path>
      <animate
        attributeName="d"
        dur="9s"
        repeatCount="indefinite"
        values="M357.5,300.5Q371,351,324,377Q277,403,206.5,425Q136,447,96,384Q56,321,75,257Q94,193,142,169.5Q190,146,238.5,92Q287,38,329.5,92.5Q372,147,358,198.5Q344,250,357.5,300.5Z;
      
        M403.5,325.5Q430,401,352,394.5Q274,388,231,372.5Q188,357,108,344Q28,331,59,261.5Q90,192,118,130.5Q146,69,217,51.5Q288,34,346,77.5Q404,121,390.5,185.5Q377,250,403.5,325.5Z;
        
        M436,307.5Q387,365,332,385Q277,405,220.5,402Q164,399,102.5,362.5Q41,326,76,262.5Q111,199,158,186Q205,173,240,141Q275,109,321,130.5Q367,152,426,201Q485,250,436,307.5Z;

        M353.5,275.5Q311,301,295,358.5Q279,416,223,404.5Q167,393,107.5,358.5Q48,324,79,261.5Q110,199,124,127.5Q138,56,211,55.5Q284,55,309.5,117Q335,179,365.5,214.5Q396,250,353.5,275.5Z;

        M357.5,300.5Q371,351,324,377Q277,403,206.5,425Q136,447,96,384Q56,321,75,257Q94,193,142,169.5Q190,146,238.5,92Q287,38,329.5,92.5Q372,147,358,198.5Q344,250,357.5,300.5Z"
      ></animate>
    </path>
  </svg>
</div>

<style>
  div {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    scale: 1.2;
    z-index: -1;
  }
  path {
    fill: orangered;
  }
</style>
