---
import Info from "./Info.astro";
import Perfil from "./Perfil.astro";
---

<section id="home">
  <div>
    <header>
      <h1>Hola 🖐, Soy Bryan</h1>
      <h2>Ingeniero de sistemas</h2>
    </header>
    <p>
      <strong>Desarrollador frontend</strong> con más de 1 año de experiencia creando
      proyectos personales con <strong>React.js</strong>
    </p>
    <Info />
  </div>
  <Perfil />
</section>

<style>
  section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  section div {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  h1 {
    font-weight: 800;
  }

  h2 {
    background-image: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  @media (max-width: 690px) {
    section {
      flex-direction: column-reverse;
      margin-bottom: 2.8rem;
    }
  }
  @media (max-width: 414px) {
    section div {
      max-width: 100%;
    }
  }
</style>
