---
import { Social } from "src/type";

interface Props {
  social: Social;
  isCircle?: boolean;
}

const { social, isCircle = false } = Astro.props;
const { name, url, icon } = social;
const Icon = icon;
const form = isCircle ? "circle" : "square";
---

<a href={url} target="_blank" title={name} class={form}>
  <Icon />
</a>

<style define:vars={{ form }}>
  a {
    color: #fff;
    display: grid;
    outline: 1px solid var(--bg-brand);
    outline-offset: -1px;
    width: 40px;
    aspect-ratio: 1;
    place-items: center;
    transition: background-color 0.2s;
  }
  .circle {
    border-radius: 50%;
  }
  .square {
    border-radius: 8px;
  }
  .circle:hover {
    border-radius: 50%;
    background-color: var(--bg-primary);
  }
  .square:hover {
    border-radius: 8px;
    background-color: var(--bg-blur);
  }
</style>
